<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Postal Rate Calculator Index</title>
    <meta name="Postal Rate Calculator Index" content="Postal Rate Calculator Index">
    <script src="../../lib/calculateRate.js"></script>
   <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="../../lib/styles.css">
</head>
    
<body>
<div class="container">
  <form method=GET action='results'>
    
      <h2>Mail Details:</h2>
      <select name="type">
        <option value='stamped'>Stamped Letter</option>
        <option value='metered'>Metered Letter</option>
        <option value='envelopes'>Large Envelope (Flat)</option>
        <option value='retail'>First-Class Package Service (Retail)</option>     
      </select><br />
      
      <label for="weight">Ounces:</label>
      <input type="number" id="weight" name="weight" name="weight"><br /><br />
      
       <input type="submit" value="Calculate" id="submit">
    
    
  </form>  
    
    </div>  
</body>
</html>